Luca Barbato <lu_zero@gentoo.org> <luca.barbato@gmail.com>
Frank Bossen <fbossen@gmail.com> <frank@bossentech.com>
Yushin Cho <ycho@mozilla.com> <cho.yushin@gmail.com>
Yushin Cho <ycho@mozilla.com> <ycho@users.noreply.github.com>
Thomas Daede <tdaede@xiph.org> <daede003@umn.edu>
Nathan E. Egge <negge@xiph.org> <negge@dgql.org>
Josh Holmer <jholmer.in@gmail.com>
Josh Holmer <jholmer.in@gmail.com> <jholmer@dminc.com>
Monty Montgomery <monty@xiph.org> <xiphmont@gmail.com>
Thomas Szymczak <11669680+tszymczak@users.noreply.github.com> Thomas Szymczak <you@example.com>
Raphaël Zumer <rzumer@tebako.net>
Raphaël Zumer <rzumer@tebako.net> <rzumer@gmail.com>
