language: rust
addons:
  apt:
    packages:
      - yasm
      - nasm

before_install:
    - wget -O cmake.sh https://cmake.org/files/v3.10/cmake-3.10.2-Linux-x86_64.sh
    - sudo sh cmake.sh --skip-license --exclude-subdir --prefix=/usr
    - sudo rm -fR /usr/local/cmake*
    - hash -r
    - which cmake
    - cmake --version
script:
    - |
        cargo build --verbose &&
        cargo test --verbose &&
        cargo bench --verbose &&
        cargo doc --verbose
