language: rust
dist: bionic
env:
  - RUST_BACKTRACE=1
before_install:
  - export DEPS_DIR="$TRAVIS_HOME/.local"
  - export ARCH="`uname -m`"
  - mkdir -p "$DEPS_DIR/bin"
  - export PATH="$PATH:$DEPS_DIR/bin"
  - source "$TRAVIS_BUILD_DIR/.travis/install-sccache.sh"
  - export SCCACHE_CACHE_SIZE=200M
  - export SCCACHE_DIR="$TRAVIS_HOME/.cache/sccache"
  - bash "$TRAVIS_BUILD_DIR/.travis/install-aom.sh"
  - bash "$TRAVIS_BUILD_DIR/.travis/install-dav1d.sh"
  - cd "$TRAVIS_BUILD_DIR"
cache:
  directories:
    - $TRAVIS_HOME/.cache/sccache
    - $TRAVIS_HOME/.local

after_script:
  - sccache -s

jobs:
  include:
    - name: "Arm build and test"
      rust: stable
      arch: arm64
      script: cargo test --features=decode_test,decode_test_dav1d,quick_test,capi --verbose
    - name: "Power build and test"
      rust: stable
      arch: ppc64le
      script: cargo test --features=decode_test,decode_test_dav1d,quick_test,capi --verbose
    - name: "IBM Z build and test"
      rust: stable
      arch: s390x
      script: cargo test --features=decode_test,decode_test_dav1d,quick_test,capi --verbose
