language: rust
rust:
  - stable
addons:
  apt:
    packages: binutils-dev libcurl4-openssl-dev zlib1g-dev libdw-dev libiberty-dev
before_install:
    - wget -O cmake.sh https://cmake.org/files/v3.13/cmake-3.13.3-Linux-x86_64.sh
    - sudo sh cmake.sh --skip-license --exclude-subdir --prefix=/usr
    - sudo rm -fR /usr/local/cmake*
    - hash -r
    - which cmake
    - cmake --version
    - wget https://www.nasm.us/pub/nasm/releasebuilds/2.14.02/nasm-2.14.02.tar.xz
    - tar -xvf nasm-2.14.02.tar.xz
    - cd nasm-2.14.02
    - ./configure
    - make
    - sudo make install
    - nasm --version
    - cd ..
    - wget -O kcov.tar.gz https://github.com/SimonKagstrom/kcov/archive/v36.tar.gz
    - tar -xvf kcov.tar.gz
    - cd kcov-36
    - mkdir .build && cd .build
    - cmake .. && make && sudo make install

jobs:
  include:
      - name: "Build & Coveralls"
        script: 
         - cargo install cargo-kcov
         - kcov --version
         - cargo build --release --verbose
         - cargo kcov --coveralls --features=decode_test -- --verify --exclude-pattern=$HOME/.cargo,aom_build,.h,test
      - name: "Tests"
        script: cargo test --verbose --release --features=decode_test -- --ignored
      - name: "Bench"
        script: cargo bench --verbose
      - name: "Doc & Clippy (linter): verifying code quality"
        script:
         - cargo doc --verbose
         - rustup component add clippy
         - cargo clippy --version
         - cargo clippy -- -D warnings -A clippy::complexity -A clippy::correctness -A clippy::perf -A clippy::get_unwrap -A clippy::len_zero -A clippy::needless_range_loop -A clippy::neg_multiply -A clippy::new_without_default -A clippy::new_without_default_derive -A clippy::ptr_arg -A clippy::single_match -A clippy::unreadable_literal -A clippy::useless_let_if_seq -A clippy::verbose_bit_mask --verbose
