[package]
name = "rav1e"
version = "0.1.0"
authors = ["Thomas Daede <tdaede@xiph.org>"]
build = "build.rs"
include = ["/src/**", "/aom_build/**", "/Cargo.toml"]
autobenches = false
autobins = false

[features]
repl = ["rustyline", "binaries"]
comparative_bench = ["aom"]
decode_test = ["bindgen", "aom"]
decode_test_dav1d = ["dav1d-sys"]
binaries = ["y4m", "clap"]
default = ["binaries", "nasm"]
aom = ["cmake"]
nasm = ["nasm-rs"]

[dependencies]
bitstream-io = "0.8"
clap = { version = "2", optional = true, default-features = false }
libc = "0.2"
rand = "0.5"
rustyline = { version = "1", optional = true }
y4m = { version = "0.3", optional = true }
backtrace = "0.3"
syn = "^0.15.20"
quote = "^0.6.10" # hack for proc-macro-hack
num-traits = "0.2"
paste = "0.1"
dav1d-sys = { version = "0.1.1", optional = true }

[build-dependencies]
cmake = { version = "0.1", optional = true }

[target.'cfg(target_arch = "x86_64")'.build-dependencies]
nasm-rs = { git = "https://github.com/medek/nasm-rs.git", optional = true }

[target.'cfg(unix)'.build-dependencies]
pkg-config = "0.3.12"
bindgen = { version = "0.37", optional = true }

[dev-dependencies]
criterion = "0.2"
pretty_assertions = "0.5.1"

[[bin]]
name = "rav1e"
required-features = ["binaries"]
bench = false

[[bin]]
name = "rav1repl"
required-features = ["repl"]
bench = false

[lib]
bench = false

[[bench]]
name = "bench"
harness = false

[profile.release]
codegen-units = 1  # if > 1 enables parallel code generation which improves
                   # compile times, but prevents some optimizations.
                   # Passes `-C codegen-units`. Ignored when `lto = true`.

[profile.bench]
codegen-units = 1
