[package]
name = "rav1e"
version = "0.1.0"
authors = ["Thomas Daede <tdaede@xiph.org>"]
edition = "2018"
build = "build.rs"
include = ["/src/**", "/Cargo.toml", "/build.rs"]
license = "BSD-2-Clause"
description = "The fastest and safest AV1 encoder"
repository = "https://github.com/xiph/rav1e/"
autobenches = false
autobins = false

[features]
decode_test = ["aom-sys"]
decode_test_dav1d = ["dav1d-sys"]
binaries = ["ivf", "y4m", "clap", "scan_fmt"]
default = ["binaries", "nasm", "signal_support"]
nasm = ["nasm-rs"]
signal_support = ["signal-hook"]
dump_ivf = ["ivf"]
quick_test = []
desync_finder = []
bench = []
check_asm = []
capi = []

# Enables debug dumping of lookahead computation results, specifically:
# - i-qres.png: quarter-resolution luma planes,
# - i-hres.png: half-resolution luma planes,
# - i-mvs.bin: motion vectors,
# - i-imps.bin: block importances.
dump_lookahead_data = ["byteorder", "image"]

[dependencies]
arg_enum_proc_macro = "0.2"
bitstream-io = "0.8"
clap = { version = "2", optional = true, default-features = false }
libc = "0.2"
y4m = { version = "0.3.2", optional = true }
backtrace = "0.3"
num-traits = "0.2"
num-derive = "0.2"
paste = "0.1"
serde = "1.0"
serde_derive = "1.0"
dav1d-sys = { version = "0.2", optional = true }
aom-sys = { version = "0.1.2", optional = true }
scan_fmt = { version = "0.2.3", optional = true }
ivf = { version = "0.1", path = "ivf/", optional = true }
avformat-sys = { version = "0.1", path = "crates/avformat-sys/", optional = true }
rayon = "1.0"
bincode = "1.1"
arrayvec = "0.4.10"
better-panic = "0.1"
err-derive = "0.1"
image = { version = "0.22.1", optional = true }
byteorder = { version = "1.3.2", optional = true }

[build-dependencies]
nasm-rs = { version = "0.1", path = "crates/nasm_rs/", optional = true }
vergen = "3"
rustc_version = "0.2"

[target.'cfg(unix)'.build-dependencies]
pkg-config = "0.3.12"

[target.'cfg(unix)'.dependencies]
signal-hook = { version = "0.1.9", optional = true }

[dev-dependencies]
criterion = "0.2"
pretty_assertions = "0.6"
interpolate_name = "0.2.2"
rand = "0.7"
rand_chacha = "0.2"
semver = "0.9"

[[bin]]
name = "rav1e"
required-features = ["binaries"]
bench = false

[lib]
bench = false

[[bench]]
name = "bench"
harness = false

[profile.dev]
opt-level = 2

[profile.release]
debug = true
codegen-units = 1  # if > 1 enables parallel code generation which improves
                   # compile times, but prevents some optimizations.
                   # Passes `-C codegen-units`. Ignored when `lto = true`.
lto = true

[profile.bench]
codegen-units = 1
lto = true

[workspace]
members = [".", "ivf", "crates/nasm_rs", "crates/avformat-sys"]
