[package]
name = "rav1e"
version = "0.1.0"
authors = ["Thomas Daede <tdaede@xiph.org>"]
build = "build.rs"
include = ["/src/**", "/aom_build/**", "/Cargo.toml"]

[dependencies]
bitstream-io = "0.6"
byteorder = "1"
clap = "2"
libc = "0.2"
rand = "0.4"
rustyline = "1"
y4m = "0.1"
enum-iterator-derive = "0.1.1"

[build-dependencies]
cc = "1"

[dev-dependencies]
bencher = "0.1.5"

[[bench]]
name = "bench"
harness = false

[profile.release]
codegen-units = 1  # if > 1 enables parallel code generation which improves
                   # compile times, but prevents some optimizations.
                   # Passes `-C codegen-units`. Ignored when `lto = true`.

[profile.bench]
codegen-units = 1
