[package]
name = "rav1e"
version = "0.1.0"
authors = ["Thomas Daede <tdaede@xiph.org>"]
edition = "2018"
build = "build.rs"
include = ["/src/**", "/aom_build/**", "/Cargo.toml", "/build.rs"]
autobenches = false
autobins = false

[features]
comparative_bench = ["aom"]
decode_test = ["bindgen", "aom"]
decode_test_dav1d = ["dav1d-sys"]
binaries = ["ivf", "y4m", "clap", "scan_fmt", "serde_json"]
default = ["binaries", "nasm"]
aom = ["cmake"]
nasm = ["nasm-rs"]
dump_ivf = ["ivf"]

[dependencies]
bitstream-io = "0.8"
clap = { version = "2", optional = true, default-features = false }
libc = "0.2"
rand = "0.5"
y4m = { version = "0.3", optional = true }
backtrace = "0.3"
syn = "^0.15.20"
quote = "^0.6.10" # hack for proc-macro-hack
num-traits = "0.2"
paste = "0.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", optional = true }
dav1d-sys = { version = "0.1.2", optional = true }
scan_fmt = { version = "0.1.3", optional = true }
ivf = { path = "ivf/", optional = true }
rayon = "1.0"
bincode = "=1.0.1"

[build-dependencies]
cmake = { version = "0.1", optional = true }

[target.'cfg(target_arch = "x86_64")'.build-dependencies]
nasm-rs = { version = "0.1.4", optional = true }

[target.'cfg(unix)'.build-dependencies]
pkg-config = "0.3.12"
bindgen = { version = "0.47.1", optional = true }

[dev-dependencies]
criterion = "0.2"
pretty_assertions = "0.5.1"

[[bin]]
name = "rav1e"
required-features = ["binaries"]
bench = false

[lib]
bench = false

[[bench]]
name = "bench"
harness = false

[profile.release]
codegen-units = 1  # if > 1 enables parallel code generation which improves
                   # compile times, but prevents some optimizations.
                   # Passes `-C codegen-units`. Ignored when `lto = true`.

[profile.bench]
codegen-units = 1

[workspace]
members = ["ivf"]
