[package]
name = "rav1e"
version = "0.1.0"
authors = ["Thomas Daede <tdaede@xiph.org>"]
build = "build.rs"
include = ["/src/**", "/aom_build/**", "/Cargo.toml"]
autobenches = false
autobins = false

[features]
repl = ["rustyline", "binaries"]
comparative_bench = []
decode_test = ["bindgen"]
binaries = ["y4m", "clap"]
default = ["binaries"]

[dependencies]
bitstream-io = "0.6"
clap = { version = "2", optional = true }
libc = "0.2"
rand = "0.5"
rustyline = { version = "1", optional = true }
y4m = { version = "0.3", optional = true }
backtrace = "0.3"
num-traits = "0.2"
bincode = "1.0.1"
serde = "*"
serde_derive = "*"

[build-dependencies]
cmake = "0.1.32"

[target.'cfg(unix)'.build-dependencies]
pkg-config = "0.3.12"
bindgen = { version = "0.37", optional = true }

[dev-dependencies]
criterion = "0.2"

[[bin]]
name = "rav1e"

[[bin]]
name = "rav1repl"
required-features = ["repl"]

[[bench]]
name = "bench"
harness = false

[profile.release]
codegen-units = 1  # if > 1 enables parallel code generation which improves
                   # compile times, but prevents some optimizations.
                   # Passes `-C codegen-units`. Ignored when `lto = true`.

[profile.bench]
codegen-units = 1
