name: deploy
on:
  schedule:
    - cron: '0 21 * * TUE' # Run every Tuesday at 21:00 (UTC)
  push:
    tags:
      - 'v*.*.*'
      - 'p*'

jobs:
  windows-rav1e-ch-binary:

    if: github.repository_owner == 'xiph'
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/setup-nasm@v1

    - name: Install stable
      uses: dtolnay/rust-toolchain@stable

    - name: Build rav1e-ch (unstable)
      env:
        RUSTFLAGS: "-C target-cpu=x86-64-v3"
        CARGO_PROFILE_RELEASE_LTO: "true"
        CARGO_PROFILE_RELEASE_CODEGEN_UNITS: "1"
      run: cargo build --release --features=unstable,channel-api --bin=rav1e-ch

    - name: Upload rav1e-ch msvc binary (unstable)
      uses: actions/upload-artifact@v3
      with:
        name: rav1e-ch (unstable) (AVX2)
        path: target/release/rav1e-ch.exe


  windows-binaries:
    strategy:
      matrix:
        conf:
         - msvc
         - gnu
        target_cpu:
         - x86-64
         - x86-64-v2
         - x86-64-v3
        include:
         - conf: msvc
           name: msvc-generic
           toolchain: stable
           profile: release
           target_cpu: x86-64
         - conf: msvc
           name: msvc-sse4
           toolchain: stable
           profile: release
           target_cpu: x86-64-v2
         - conf: msvc
           name: msvc-avx2
           toolchain: stable
           profile: release
           target_cpu: x86-64-v3
         - conf: gnu
           name: gnu-generic
           toolchain: stable-x86_64-pc-windows-gnu
           profile: release-no-lto
           target_cpu: x86-64
         - conf: gnu
           name: gnu-sse4
           toolchain: stable-x86_64-pc-windows-gnu
           profile: release-no-lto
           target_cpu: x86-64-v2
         - conf: gnu
           name: gnu-avx2
           toolchain: stable
           profile: release
           target_cpu: x86-64-v3

    if: github.repository_owner == 'xiph'
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/setup-nasm@v1

    - name: Install cargo-c
      run: |
        $LINK = "https://github.com/lu-zero/cargo-c/releases/latest/download"
        $CARGO_C_FILE = "cargo-c-windows-msvc"
        curl -LO "$LINK/$CARGO_C_FILE.zip"
        7z e -y "$CARGO_C_FILE.zip" -o"${env:USERPROFILE}\.cargo\bin"

    - name: Install ${{ matrix.toolchain }}
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.toolchain }}

    - name: Build rav1e
      env:
        RUSTFLAGS: "-C target-cpu=${{ matrix.target_cpu }}"
      run: cargo build --profile ${{ matrix.profile }}

    - name: Strip rav1e gnu-binary
      if: matrix.conf == 'gnu'
      run: strip target/${{ matrix.profile }}/rav1e.exe

    - name: Run cargo-c
      env:
        RUSTFLAGS: "-C target-cpu=${{ matrix.target_cpu }}"
      run: |
        cargo fetch
        cargo cinstall --profile ${{ matrix.profile }} --destdir="C:\" --offline

    - name: Rename cargo-c folder
      run: Rename-Item "C:\usr\local" "C:\usr\rav1e-windows-${{ matrix.conf }}-sdk"

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/v')
      shell: bash
      id: tagName
      run: |
        VERSION=$(cargo pkgid | cut -d# -f2 | cut -d: -f2)
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Package pre-release binaries
      if: >
        startsWith(github.ref, 'refs/tags/p') || github.event_name == 'schedule'
      run: |
        7z a rav1e-windows-${{ matrix.name }}.zip `
             "C:\usr\rav1e-windows-${{ matrix.conf }}-sdk"

    - name: Package release binaries
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        $ZIP_PREFIX = "rav1e-${{ steps.tagName.outputs.version }}-windows"
        7z a "$ZIP_PREFIX-${{ matrix.name }}.zip" `
             "C:\usr\rav1e-windows-${{ matrix.conf }}-sdk"

    - name: Upload rav1e msvc binary
      if: matrix.conf == 'msvc'
      uses: actions/upload-artifact@v3
      with:
        name: rav1e (Windows-${{ matrix.name }})
        path: target/${{ matrix.profile }}/rav1e.exe

    - name: Upload pre-release binaries
      if: >
        startsWith(github.ref, 'refs/tags/p') || github.event_name == 'schedule'
      uses: actions/upload-artifact@v3
      with:
        name: rav1e (Windows-${{ matrix.name }})
        path: rav1e-windows-${{ matrix.name }}.zip

    - name: Upload release binaries
      if: startsWith(github.ref, 'refs/tags/v')
      uses: actions/upload-artifact@v3
      with:
        name: rav1e ${{ steps.tagName.outputs.version }} (Windows-${{ matrix.name }})
        path: rav1e-${{ steps.tagName.outputs.version }}-windows-${{ matrix.name }}.zip


  linux-binaries:
    strategy:
      matrix:
        target:
         - x86_64-unknown-linux-musl
         - aarch64-unknown-linux-musl
        target_cpu:
         - default
         - x86-64
         - x86-64-v2
         - x86-64-v3
        include:
         - target: x86_64-unknown-linux-musl
           name: linux-generic
           binaries: rav1e
           strip: strip
           target_cpu: x86-64
         - target: x86_64-unknown-linux-musl
           name: linux-sse4
           binaries: rav1e
           strip: strip
           target_cpu: x86-64-v2
         - target: x86_64-unknown-linux-musl
           name: linux-avx2
           binaries: rav1e
           strip: strip
           target_cpu: x86-64-v3
         - target: aarch64-unknown-linux-musl
           target_cpu: default
           name: linux-aarch64
           binaries: rav1e
           strip: aarch64-linux-gnu-strip
        exclude:
         - target: x86_64-unknown-linux-musl
           target_cpu: default
         - target: aarch64-unknown-linux-musl
           target_cpu: x86-64
         - target: aarch64-unknown-linux-musl
           target_cpu: x86-64-v2
         - target: aarch64-unknown-linux-musl
           target_cpu: x86-64-v3

    if: github.repository_owner == 'xiph'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/setup-nasm@v1

    - name: Install musl tools
      if: matrix.target != 'wasm32-unknown-unknown'
      run: |
        sudo apt-get update
        sudo apt-get install musl-tools

    - name: Install aarch64 tools
      if: matrix.target == 'aarch64-unknown-linux-musl'
      run: |
        sudo apt-get update
        sudo apt-get install binutils-aarch64-linux-gnu

    - name: Install ${{ matrix.target }} target
      uses: dtolnay/rust-toolchain@stable
      with:
        target: ${{ matrix.target }}

    - name: Install cross
      if: matrix.target == 'aarch64-unknown-linux-musl'
      env:
        LINK: https://github.com/rust-embedded/cross/releases/download
        CROSS_VERSION: 0.2.0
        CROSS_FILE: cross-v0.2.0-x86_64-unknown-linux-musl
      run: |
        curl -L "$LINK/v$CROSS_VERSION/$CROSS_FILE.tar.gz" |
        tar xz -C $HOME/.cargo/bin

    - name: Build rav1e for aarch64-musl
      if: matrix.target == 'aarch64-unknown-linux-musl'
      run: cross build --target ${{ matrix.target }} --release

    - name: Build rav1e
      if: matrix.target != 'aarch64-unknown-linux-musl'
      env:
        RUSTFLAGS: "-C target-cpu=${{ matrix.target_cpu }}"
      run: cargo build --target ${{ matrix.target }} --release

    - name: Strip musl rav1e
      if: matrix.target != 'wasm32-unknown-unknown'
      run: ${{ matrix.strip }} target/${{ matrix.target }}/release/rav1e

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/v')
      id: tagName
      run: |
        VERSION=$(cargo pkgid | cut -d# -f2 | cut -d: -f2)
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Create a pre-release tar
      if: >
        startsWith(github.ref, 'refs/tags/p') || github.event_name == 'schedule'
      run: |
        cd target/${{ matrix.target }}/release
        tar -czvf $GITHUB_WORKSPACE/rav1e-${{ matrix.name }}.tar.gz \
                  ${{ matrix.binaries }}

    - name: Create a release tar
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        TAR_FILE=rav1e-${{ steps.tagName.outputs.version }}-${{ matrix.name }}
        cd target/${{ matrix.target }}/release
        tar -czvf $GITHUB_WORKSPACE/$TAR_FILE.tar.gz ${{ matrix.binaries }}

    - name: Upload pre-release binaries
      if: >
        startsWith(github.ref, 'refs/tags/p') || github.event_name == 'schedule'
      uses: actions/upload-artifact@v3
      with:
        name: rav1e (${{ matrix.name }})
        path: rav1e-${{ matrix.name }}.tar.gz

    - name: Upload release binaries
      if: startsWith(github.ref, 'refs/tags/v')
      uses: actions/upload-artifact@v3
      with:
        name: rav1e ${{ steps.tagName.outputs.version }} (${{ matrix.name }})
        path: rav1e-${{ steps.tagName.outputs.version }}-${{ matrix.name }}.tar.gz

  macos-binaries:
    if: github.repository_owner == 'xiph'
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install nasm
      run: brew install nasm

    - name: Install stable
      uses: dtolnay/rust-toolchain@stable

    - name: Build rav1e
      run: cargo build --release

    - name: Strip rav1e
      run: strip target/release/rav1e

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/v')
      id: tagName
      run: |
        VERSION=$(cargo pkgid | cut -d# -f2 | cut -d: -f2)
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Create a pre-release zip
      if: >
        startsWith(github.ref, 'refs/tags/p') || github.event_name == 'schedule'
      run: |
        cd target/release
        zip -9 $GITHUB_WORKSPACE/rav1e-macos.zip rav1e

    - name: Create a release zip
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        ZIP_FILE=rav1e-${{ steps.tagName.outputs.version }}-macos.zip
        cd target/release
        zip -9 $GITHUB_WORKSPACE/$ZIP_FILE rav1e

    - name: Upload pre-release binaries
      if: >
        startsWith(github.ref, 'refs/tags/p') || github.event_name == 'schedule'
      uses: actions/upload-artifact@v3
      with:
        name: rav1e (MacOS)
        path: rav1e-macos.zip

    - name: Upload release binaries
      if: startsWith(github.ref, 'refs/tags/v')
      uses: actions/upload-artifact@v3
      with:
        name: rav1e ${{ steps.tagName.outputs.version }} (MacOS)
        path: rav1e-${{ steps.tagName.outputs.version }}-macos.zip

  deploy:
    needs: [windows-rav1e-ch-binary, windows-binaries, linux-binaries, macos-binaries]
    if: github.repository_owner == 'xiph'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Download artifacts
      uses: actions/download-artifact@v3

    - name: Install Rust stable
      uses: dtolnay/rust-toolchain@stable

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/v')
      id: tagName
      run: |
        VERSION=$(cargo pkgid | cut -d# -f2 | cut -d: -f2)
        echo "version=$VERSION"  >> $GITHUB_OUTPUT

    - name: Get date for a scheduled pre-release
      if: github.event_name == 'schedule'
      id: tagDate
      run: |
        DATE=$(date "+%Y%m%d")
        echo "date=$DATE" >> $GITHUB_OUTPUT

    - name: Create a scheduled pre-release
      if: github.event_name == 'schedule'
      uses: softprops/action-gh-release@v1
      with:
        name: Weekly pre-release
        prerelease: true
        tag_name: p${{ steps.tagDate.outputs.date }}
        files: |
          Cargo.lock
          rav1e (Windows-msvc-generic)/rav1e.exe
          rav1e-ch (unstable) (AVX2)/rav1e-ch.exe
          rav1e (linux-generic)/rav1e-linux-generic.tar.gz
          rav1e (linux-sse4)/rav1e-linux-sse4.tar.gz
          rav1e (linux-avx2)/rav1e-linux-avx2.tar.gz
          rav1e (linux-aarch64)/rav1e-linux-aarch64.tar.gz
          rav1e (MacOS)/rav1e-macos.zip
          rav1e (Windows-msvc-generic)/rav1e-windows-msvc-generic.zip
          rav1e (Windows-msvc-sse4)/rav1e-windows-msvc-sse4.zip
          rav1e (Windows-msvc-avx2)/rav1e-windows-msvc-avx2.zip
          rav1e (Windows-gnu-generic)/rav1e-windows-gnu-generic.zip
          rav1e (Windows-gnu-sse4)/rav1e-windows-gnu-sse4.zip
          rav1e (Windows-gnu-avx2)/rav1e-windows-gnu-avx2.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create a pre-release
      if: startsWith(github.ref, 'refs/tags/p')
      uses: softprops/action-gh-release@v1
      with:
        name: Weekly pre-release
        prerelease: true
        files: |
          Cargo.lock
          rav1e (Windows-msvc-generic)/rav1e.exe
          rav1e-ch (unstable) (AVX2)/rav1e-ch.exe
          rav1e (linux-generic)/rav1e-linux-generic.tar.gz
          rav1e (linux-sse4)/rav1e-linux-sse4.tar.gz
          rav1e (linux-avx2)/rav1e-linux-avx2.tar.gz
          rav1e (linux-aarch64)/rav1e-linux-aarch64.tar.gz
          rav1e (MacOS)/rav1e-macos.zip
          rav1e (Windows-msvc-generic)/rav1e-windows-msvc-generic.zip
          rav1e (Windows-msvc-sse4)/rav1e-windows-msvc-sse4.zip
          rav1e (Windows-msvc-avx2)/rav1e-windows-msvc-avx2.zip
          rav1e (Windows-gnu-generic)/rav1e-windows-gnu-generic.zip
          rav1e (Windows-gnu-sse4)/rav1e-windows-gnu-sse4.zip
          rav1e (Windows-gnu-avx2)/rav1e-windows-gnu-avx2.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Create a release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        name: v${{ steps.tagName.outputs.version }}
        files: |
          Cargo.lock
          rav1e (Windows-msvc-generic)/rav1e.exe
          rav1e-ch (unstable) (AVX2)/rav1e-ch.exe
          rav1e ${{ steps.tagName.outputs.version }} (linux-generic)/rav1e-${{ steps.tagName.outputs.version }}-linux-generic.tar.gz
          rav1e ${{ steps.tagName.outputs.version }} (linux-sse4)/rav1e-${{ steps.tagName.outputs.version }}-linux-sse4.tar.gz
          rav1e ${{ steps.tagName.outputs.version }} (linux-avx2)/rav1e-${{ steps.tagName.outputs.version }}-linux-avx2.tar.gz
          rav1e ${{ steps.tagName.outputs.version }} (linux-aarch64)/rav1e-${{ steps.tagName.outputs.version }}-linux-aarch64.tar.gz
          rav1e ${{ steps.tagName.outputs.version }} (MacOS)/rav1e-${{ steps.tagName.outputs.version }}-macos.zip
          rav1e ${{ steps.tagName.outputs.version }} (Windows-msvc-generic)/rav1e-${{ steps.tagName.outputs.version }}-windows-msvc-generic.zip
          rav1e ${{ steps.tagName.outputs.version }} (Windows-msvc-sse4)/rav1e-${{ steps.tagName.outputs.version }}-windows-msvc-sse4.zip
          rav1e ${{ steps.tagName.outputs.version }} (Windows-msvc-avx2)/rav1e-${{ steps.tagName.outputs.version }}-windows-msvc-avx2.zip
          rav1e ${{ steps.tagName.outputs.version }} (Windows-gnu-generic)/rav1e-${{ steps.tagName.outputs.version }}-windows-gnu-generic.zip
          rav1e ${{ steps.tagName.outputs.version }} (Windows-gnu-sse4)/rav1e-${{ steps.tagName.outputs.version }}-windows-gnu-sse4.zip
          rav1e ${{ steps.tagName.outputs.version }} (Windows-gnu-avx2)/rav1e-${{ steps.tagName.outputs.version }}-windows-gnu-avx2.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
